/* GLOBAL */
*{
    box-sizing: border-box;
}
html,body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
.clear{
    clear: both;
}
.line{
    background-image: url('../img/line.png');
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
}
h2{
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;

}
/* HEADER */
.header__logo{
    float: left;
}
.header__slogan{
    float:right;
    margin-right: 200px;
}

.header__navbar ul {
    list-style: none;
   border-top: 1px solid black;
   border-bottom: 1px solid black;
   text-align: center;
   padding: 10px 0px;
}
.header__navbar ul li{
    display: inline;

}

.header__navbar ul a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(61, 60, 58);
    text-transform: uppercase;
    font-size: 1.13vw;
    padding: 0px 0.3em;
}
.header__navbar ul li:hover {
    border-bottom: 2px solid red;
}
.header__navbar ul .active{
 border-bottom: 2px solid red;
}

/* CAROUSEL */
.carousel{
    background-image: url('../img/slider_1.png');
    height: 500px;
    background-size: cover;
    margin-top: 50px;
}

/* INTROL */
.introl p{
    text-align: center;
}

/* PROGRAMS */
.programs__item {
    float: left;
    width: 25%;
    
}
.programs__item img{
    width: 100%;
    padding: 0px 10px;
}
.programs__item h3{
    color: red;
    text-transform: uppercase;
    margin-bottom: -6px;
}
.programs__item p{
    color: rgb(146, 146, 141);
}


/* NEW */
.new__left,.new__right{
    width:50%;
    float: left;
    padding: 15px 15px;
}
.new img {
    width: 100%;
}
.new__conten {
    position: relative;
    
}
.new .new__left .new__conten p{
    font-size: 24px;
    bottom: 14px;
}
.new__conten p{
    position: absolute;
    bottom: 6px;
    background-color: rgba(105, 102, 102, 0.63);
    color: azure;
    text-transform: uppercase;
    margin: 0px;
}
.new__right  .new__conten{
    padding: 10px 10px;
}
.new__right .new__small {
    width: 50%;
    float: left;
}

.new hr{
    margin: 0px;
}




/* FOOTER */
.footer{
    background-image: url('../img/bg_banner.png');

}
.footer p{
    float:right;
    width: 50%;
    color: aliceblue;
    text-align: justify;
}